<div>
    <mat-card>
        <form [formGroup]="blogForm" class="form-wrapper" (ngSubmit)="onSubmit()">
            <span>New blog</span>
            <mat-form-field class="form" >
                <mat-label>Title</mat-label>
                <input matInput type="text" formControlName="title">
            </mat-form-field>
            <mat-form-field class="form" >
                <mat-label>Author</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field class="form" >
                <mat-label>Content</mat-label>
                <textarea matInput type="text" formControlName="mainbody"></textarea>
            </mat-form-field>
            <button mat-stroked-button class="form-button" type="submit" >Submit</button>
            <span>{{status}}</span>
        </form>
    </mat-card>
</div>
